.DS_Store
.vim/bundle
.zsh/.zcompdump
.zsh/*.zwc
.netrwhist
.zsh/.chpwd-recent-dirs
.zsh/plugins
plugins
.zsh/completions/hub.zsh_completion
.zsh/.zcompdump*

bin/imgcat

.vim/.init.vim-rplugin~

.lldb/lldb-repl-history
