[user]
	email = tanakasan2525@gmail.com
	name = tattn (Tatsuya Tanaka)

[core]
	pager = less -q -R
	excludesfile = ~/.gitignore_global
	# editor = /usr/local/Cellar/vim/*/bin/vim

[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto

[merge]
	tool = vimdiff2

# [pager]
# 	log  = (diff-highlight 2>/dev/null || cat) | ${PAGER:-less}
# 	show = (diff-highlight 2>/dev/null || cat) | ${PAGER:-less}
# 	diff = (diff-highlight 2>/dev/null || cat) | ${PAGER:-less}

[interactive]
	diffFilter = (diff-highlight 2>/dev/null || cat)
[diff]
	compactionHeuristic = true

[credential]
	helper = osxkeychain
[credential "https://github.com"]
	username = tattn

[push]
	default = matching
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	required = true
	process = git-lfs filter-process --skip

[alias]
	ad = add
	adu = add -u
	co = checkout
	fp = fetch --prune
	wc = whatchanged

	branches = branch -a
	remotes = remote -v
	tags = tag -l

	# switch
	sw = switch
	swc = switch -c

	# restore
	rs = restore
	rss = restore --staged

	# status
	st = status --branch --short
	si = status --ignored --short

	# commit
	cm = commit -m
	cma = commit -am
	fixup = commit --amend -C HEAD

	# push
	psh = !git push origin $(git symbolic-ref --short HEAD)

	# branch
	br = branch
	ba = branch -a
	bm = branch --merged
	bn = branch --no-merged

	# マージ済みのブランチをすべて削除
	# delete-merged-branches = branch --merged | grep -vE '^\*|master$|develop$' | xargs -I % git branch -d %


	# log
	ll = log --pretty=oneline
	ls = log --stat          # logに変更されたファイルも一緒に出す
	lp = log -p              # diffも一緒に出す
	la = log --pretty=\"format:%ad %h (%an): %s\" --date=short  # ざっくりログ出す
	lr = log origin
	graph = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

	# mergeの際にconflictが起きたファイルを編集
	edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
	# mergeの際にconflictが起きたファイルをadd
	add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"

	# diff
	dm = diff master
	dh = diff --histogram
	dw = diff --color-words
	dc = diff --cached
	ds = diff --staged
	d0 = diff HEAD
	d1 = diff HEAD~
	d2 = diff HEAD~~
	d3 = diff HEAD~~~
	d4 = diff HEAD~~~~
	d5 = diff HEAD~~~~~
	d10 = diff HEAD~~~~~~~~~~

	# grep
	gr = grep
	gn = grep -n

	# config
	cfg = config
	cfgrep = config --get-regexp

	# user
	# Usage: git user                => show user
	#        git user "name" "email" => set user
	user = "!f() { if [ $# -eq 0 ]; then git config --get user.name && git config --get user.email; elif [ $# -eq 2 ]; then git config --local user.name \"$1\" && git config --local user.email \"$2\"; fi }; f"

	# alias の確認
	aliases = !git config --get-regexp ^alias. | sed -e 's/^alias.//g'

