script import os, sys

command alias reload command source ~/.lldbinit

# https://github.com/po-miyasaka/LLDB
# vinfo, pc, poc, ps, pos
command script import ~/.lldb/vinfo.py

command alias sp script print

# update views
command alias uv e -l swift -O -- CATransaction.flush()


# breakpoint shortcuts
# break on function/method/selector: b -n name
# break on C/C++ method: b -M method
# break on selector: b -S selector:here:
# break on address: b -a 0xfeedface
command alias b breakpoint set
command alias bd breakpoint disable
command alias be breakpoint enable
command alias bdel breakpoint delete
command alias bcommand breakpoint command add
command alias commands breakpoint command list

# jump aliases
# jump 0xfeedface
command alias jump register write pc
command alias jmp register write pc
command alias j register write pc

command script import /usr/local/opt/chisel/libexec/fblldb.py

